
<form type="onsubmit" id="researchForm">
  <div class="m-2 form-label">tipo: <input type="text" class="form-control" id="search"></div>
</form>


<table class="table table-striped">
  <thead>
    <tr>
      <td><strong>ID</strong></td>
      <td><strong>status</strong></td>
      <td><strong>nombre</strong></td>
      <td><strong>description</strong></td>
      <td><strong>categoria</strong></td>
      <td><strong>tipo</strong></td>
      <td><strong>cantidad</strong></td>
      <td><strong>equivalente</strong></td>
    </tr>
  </thead>
  <tbody id="tbdodyProducts"> {{#each products}}

    <tr>
      <td>{{this.ID}}</td>
      <td>{{this.status}}</td>
      <td>{{this.nombre}}</td>
      <td>{{this.description}}</td>
      <td>{{this.categoria}}</td>
      <td>{{this.tipo}}</td>
      <td>{{this.cantidad}}</td>
      <td>{{this.equivalente}}</td>
    </tr>

    {{/each}}
  </tbody>


  <script src="/socket.io/socket.io.js"></script>

  <script>
    //se convierte el array recibido pro oel .handlebars:
    const products = {{{ json products }}};   // ahora sí es un array real JS
/*testing
  //  console.log("Products:", products);
*/
  </script>


<script>
  //script para filtrar la lista de productos recibida por el .handlebars
  const researchForm = document.querySelector("#researchForm");
  const input = document.querySelector("#search");

  const productList = {{{ json products }}}; // array recibido por el .handlebars (html)

  input.addEventListener("input", (e) => {

    const search = e.target.value.toLowerCase().trim();

    // se convierte el string en tokens
    const tokens = search.split(/\s+/).filter(Boolean);
    // ej: "mitsubishi estator" -> ["mitsubishi","estator"]

    let list = productList;

    const filtered = list.filter(p => {
      const text = `
        ${p.tipo}
        ${p.description}
        ${p.nombre}
        ${p.categoria}
        ${p.equivalente}
      `.toLowerCase();

      // 👇 TODAS las palabras deben existir
      return tokens.every(word => text.includes(word));
    });
/* testing: 
    console.log("filtered:", filtered);*/
    socket.emit("filterRequest", filtered);
  });
</script>

  <script>
    //script para pintar la tabla de productos tras un filter;
socket = io()
const table = document.querySelector("#tbdodyProducts")
socket.on("filterList",(data)=>{

  console.log("data: ",data)
  table.innerHTML = ""
    for (product of data) {

    let tr = document.createElement("tr");
    tr.innerHTML = `
                    
      <td>${product.ID}</td>
      <td>${product.status}</td>
      <td>${product.nombre}</td>
      <td>${product.description}</td>
      <td>${product.categoria}</td>
      <td>${product.tipo}</td>
      <td>${product.cantidad}</td>
      <td>${product.equivalente}</td>
    `;
    tbdodyProducts.appendChild(tr);
  }
  /*testing
  //console.log("filterList received"):
  //console.log("data from filterList: ",data)})
*/
})
  </script>

